/*=========Footer section=========*/
.footer1 {
	width: 100%;
	height: 280px;
	background-color: #667763;
	display: inline-block;
	color: black;
}

.footer1 .footer-content {
	height: 230px;
	display: flex;
}

.footer1 .footer-content .footer-section {
	flex: 1;
	padding: 20px;
	padding-top: 8px;
}

.footer1 .footer-content .about .contact span {
	display: block;
	font-size: 1.0em;
	margin-bottom: 8px;
}

.footer1 .footer-content .about .socials a {
	border: 1px solid gray;
	width: 45px;
	height: 30px;
	padding-top: 5px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	font-size: 1.3em;
	border-radius: 5px;
}

.footer1 .footer-content .about .socials a:hover {
	border: 1px solid white;
	color: white;
	transition: all .3s;
}

.footer1 .footer-content .links ul a {
	display: block;
	color: black; text-decoration : none;
	margin-bottom: 5px;
	font-size: 1.2em;
	text-decoration: none;
}

.footer1 .footer-content .links ul a:hover {
	color: white;
	margin-left: 15px;
	transition: all .3s;
}

.footer1 .footer-content .contact-form .contact-input {
	background: #4d504d;
	color: white;
	margin-bottom: 9px;
	line-height: 1.5em;
	padding: .7rem 1.3rem;
	border: none;
	border-radius: 3px;
}

.footer1 .footer-content .contact-form .contact-input:focus {
	background: #4d504a;
}

.btn-big {
	padding: .4rem 1.0rem;
	line-height: .9rem;
	background: #4d504d;
	color: white;
	border: none;
	border-radius: 3px;
}

.footer1 .footer-bottom {
	background-color: #343a40;
	color: white;
	width: 100%;
	text-align: center;
	position: relative;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
	height: 50px;
	width: 100%;
}

.logo-text {
	margin-top: 2px;
	color: #e5e4d7;
	font-size: 200%;
	font-family: "century gothic", Arial;
	color: #e5e4d7;
}

/*====================================================================*/

/*=========Heading altering section=========*/
/* h1 {
	color: #e5e4d7; =========main heading silver color=========
	font-size: 250%;
	font-family: "century gothic", Arial;
	margin: 0px;
	margin-right: 50px;
	float: left;
	position: relative; ==vertically align==
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
} */

.search {
	color: #e5e4d7; /*=========main heading silver color=========*/
	font-size: 250%;
	font-family: "century gothic", Arial;
	border-radius: 5px;
	margin-left: 20px; /*==vertically align==*/
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*=========Logo appending=========*/
/* img {
	max-width: 100%;
	========float:right : is for appending o right side=========
	max-height: 100%;
	float: left;
} */